
.contentWrapper {
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media(min-width: 1071px) {
    .contentWrapper {
        max-width: 1200px;
        height: 100vh;
        margin: 0 auto;
        
        display: grid;
        grid-template-columns: 1fr 453px;
        column-gap: 120px;
        position: relative;
    }
}